/*

Skin: Vivid
Colors: Bright Yellow, White

*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*-------------------------------------------------------------------
  Usually changes global style: colors, backgrounds, fonts, etc.
-------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    background: url(../../img/patterns/diagonal-noise.png) repeat;
}

.ribbon em {
    font-weight: 700;
}

.section-title,
.row-inversed {
    background: #F9D423;  /* Primary Color */
    color: #111
}

.row-inversed .section-title {
    background: #fff;
}

.wrap-header h1 {
    text-transform: uppercase;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: #333840
}

.wrap-header p {
    font-size: 13pt;
    font-weight: 400;
    color: #aaa;
}

.section-title {
    letter-spacing: 0.03em;
}

a {
    color: #1B66CC;
}

a:hover {
    color: #177aff !important;
    text-decoration: none;
}

.row-inversed .info td a,
.row-inversed .info td {
    color: #333 !important;
}

.row-icon a:hover,
.row-inversed .info td a:hover {
    color: #111 !important;
}

.row-icon {
    color: #666;
    background: #FBE57B;
}

.row {
    border-top: 1px dashed #eaeaea;
}

.row-profile {
    border-top: 0 none;
}

.row-inversed .profile-pic {
    border: thin dashed rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.4);
}

.row-icon {
    border-top: 1px dashed #fff;
    background: rgb(250,220,77);
}

.wrap-footer {
    color: #999;
}

