* {
    box-shadow: none;
    background: transparent;
    color: black;
    text-shadow: none;
}

body {
    font-size: 9pt;
    border: none;
}

#container, footer {
    width: 100%;
    margin: 0;
}

article {
    margin: 0;
    overflow: visible;
    padding: 0;
}

#container, .row {
    border: none;
}

.section-title
{
    padding: 0;
    font-weight: bold;
    margin: 0 0 10px;
    font-size: 16px;
}

article {
    width: 100%;
    padding: 1em 0;
}

.row {
    page-break-inside: avoid;
}