body {
    color:black;
    background:none;
    margin-left: 20mm;
    margin-right: 15mm;
}

#container {
    width:100%;
    margin:0;
    box-shadow:none;
}

footer {
    width:100%;
}

article {
    margin:0;
    overflow:visible;
    width:100%;
    padding:1em 0;
}

.markup p,
.markup blockquote {
    margin-left:5%;
    margin-right:5%;
}

#container,
.row {
    border:none;
}

.section-title {
    padding:3em 0 0 0;
    font-weight:bold;
    font-size:large;
    float:none;
    background:none;
    clear:both;
    page-break-before:auto;
}

.row-inversed {
    background:none;
}

.row-icon,
header a,
#container + footer {
    display:none;
}

.timeline {
	font-size:6px;
    overflow:visible;
}

#experience {
	page-break-before: always;
}

#other_experience .column {
	margin-top: 0;
}