body {
    color: black;
    font-size: 9pt;
    background: none;
}

#container {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

footer {
    width: 100%;
}

article {
    margin: 0;
    overflow: visible;
    width: 100%;
    padding: 1em 0;
}

#container, .row {
    border: none;
}

.section-title
{
    padding: 3em 0 0 0;
    font-weight: bold;
    font-size: large;
    float: none;
    background: none;
    clear: both;
}

.row-inversed {
    background: none;
}

.row-icon,
header a,
#container + footer
{
    display: none;
}

.timeline {
    overflow: visible;
}