/*

  Style adjustments for various windows sizes.

*/

@media only screen and (max-width: 900px) { /* Smaller than desktop */

    .smaller-text p {
        text-align: left;
    }

    .wrap-header article p {
        clear: left;
    }

    .profile-pic {
        clear: both;
        float: left;
    }

    #experience .chart
    {
        width: 50%;
    }

    .icons span {
        display: block;
        margin-top: 0.3em;
    }

}

@media only screen and (max-width: 768px) { /* iPads (portrait) */

    body {
        font-size: 85%;
    }

    .wrap-ribbons {
        float: left;
    }

    .wrap-title {
        clear: left;
    }

    .wrap-header article,
    .row article {
        width: 85%;
    }

    .skills-group, .column-logo {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) { /* Most phones */


    .skills-group,
    .column {
        padding-left: 0;
    }

    .markup blockquote {
        padding-right: 0;
    }

    #experience .chart,
    #chart_education
    {
        width: 100%;
    }

}

@media only screen and (max-width: 320px) { /* iPhone in portrait orientation */

    .wrap-title {
        padding: 40px 0 50px 0;
    }

    .ribbon {
        background: #0893B3;
        height: auto;
        padding: 2px 4px 2px;
        clear: right;
        margin: 0 0 4px;
    }

    .ribbon em {
        font-size: 1em;
        font-family: inherit;
        display: inline;
    }

    .wrap-header article,
    .row article {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row-icon article {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .wrap-ribbons {
        margin-top: -30px;
    }


}