/*

  Style adjustments for various windows sizes.

*/

@media only screen and (min-width: 1600px) {
    /* Large screens */
    .column {
        width: 31%;
    }

    .column:nth-child(n) {
        margin-right: 0;
        margin-left: 0;
        clear: none;
    }

    .column:nth-child(3n+2) {
        margin-left: 3.5%;
        margin-right: 3.5%;
    }

    .column:nth-child(3n+1) {
        clear: left;
    }

}

@media only screen and (max-width: 950px) {
    /* Smaller than desktop */
    .profile-pic {
        width:30%;
        padding:0.6em;
    }

    .icons span {
        display: block;
        margin-top: 0.3em;
    }
    
    .pie {
    	width: 50%;
    }
    
    a.logo img, img[alt='biolit'] {
    	height:4em;
    }
    
    img[alt='seb'],
    img[alt='ptk'],
    img[alt='nasdaq'],
    img[alt='fimare'] {
    	height:2em !important;
    }
    
    img[alt='comhem'] {
    	height:3em !important;
    }
    
    img[alt='handelsbanken'] {
    	height:1em !important;
    }
    
    img[alt='ki'] {
    	height:6em !important;
    }
}

@media only screen and (max-width: 768px) {
    /* iPads (portrait) */
    body {
        font-size: 85%;
    }

    .column {
        width: 100%;
    }

    .column:nth-child(n) {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    /* Most phones */
    
    a.logo img, img[alt='biolit'] {
    	height:3em;
    }
    
    #profile-pic {
    	width: 90%;
    }
    
    .icons span {
        display: none;
    }

    .markup blockquote,
    .markup blockquote footer {
        padding-right: 0;
    }
    
    #subject_distribution {
    	clear:both;
    	width: 100%;
    }

    .icons a img {
        width: 3em;
    }

}
