/*

  Style adjustments for various windows sizes.

*/

@media only screen and (min-width: 1600px) {
    /* Large screens */
    .column {
        width: 31%;
    }

    .column:nth-child(n) {
        margin-right: 0;
        margin-left: 0;
        clear: none;
    }

    .column:nth-child(3n+2) {
        margin-left: 3.5%;
        margin-right: 3.5%;
    }

    .column:nth-child(3n+1) {
        clear: left;
    }

}

@media only screen and (max-width: 900px) {
    /* Smaller than desktop */
    .profile-pic {
        clear: both;
        float: left;
    }

    #experience .chart {
        width: 50%;
    }

    .icons span {
        display: block;
        margin-top: 0.3em;
    }

}

@media only screen and (max-width: 768px) {
    /* iPads (portrait) */
    body {
        font-size: 85%;
    }

    .column {
        width: 100%;
    }

    .column:nth-child(n) {
        margin-left: 0;
        margin-right: 0;
    }

    .info {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    /* Most phones */
    #experience .chart,
    #chart_education {
        width: 100%;
    }

    .icons span {
        display: none;
    }

    .markup blockquote,
    .markup blockquote footer {
        padding-right: 0;
    }

    .icons a img {
        width: 3em;
    }

}
