/*-----------------------------------------------------------------------------
    RESET
-----------------------------------------------------------------------------*/

html { overflow-y: scroll; }
body { margin: 0;}
img { border: 0; vertical-align: middle; }
table { border-collapse: collapse; border-spacing: 0; }

/*-----------------------------------------------------------------------------
    LAYOUT
-----------------------------------------------------------------------------*/

.wrap-footer,
#container {
    min-width: 960px;
    width: 960px;
    margin: 25px auto;
    background: #fff;
}

.wrap-header article,
.row article {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 3.1em 0;
}

.row article > :last-child {
    margin-bottom: 0;
}

.wrap-footer {
    font-size: 11pt;
    line-height: 1.4em;
    color: #999;
    padding: 0 0 1em 0;
    margin-top: 2em;
    margin-bottom: 2.2em;
    background: none;
    overflow: hidden;
    letter-spacing: 0.04em;
}

.wrap-footer .fl {
    margin-left: 2px;
}

.wrap-footer .fr {
    text-align: right;
    margin-right: 2px;
}

.wrap-header article p,
.row p {
    clear: both;
}

.skills-group,
.column {
    width: 37%;
    margin: 0 3% 0 0;
    float: left;
}

.skills-group,
.column-logo {
    padding-left: 0;
    width: 47%;
    margin-right: 6%;
}

div.column-logo {
    margin-top: 2em;
}


.column-row {
    clear: both;
    margin: 0;
    overflow: hidden;
}

.skills-with-ratings .skills-group:nth-child(2n),
.column-row .column:last-child,
.column-row div.column:nth-child(2n)
{
    margin-right: 0;
}

.fixed-layout #container,
.fixed-layout .wrap-footer {
    min-width: 960px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------------------------------------------------------
    HEADER
-----------------------------------------------------------------------------*/

.wrap-header h1 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

.wrap-header h1 span {
    font-size: 1.6em;
    padding-right: 0.3em;
}

.wrap-header p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

.wrap-title {
    float: left;
}

/* sharing tools & ribbons */

.wrap-ribbons {
    float: right;
    margin: -3.1em 0 0 0;
    padding: 0 0 10px 30px;
}

.wrap-ribbons > * {
    float: right;
    margin: -3px 4px 0 0;
}

/* ribbon styles */

.ribbon {
    display: block;
    width: 79px;
    height: 75px;
    padding: 17px 0 0 0;
    background: url(../img/ribbon.png) no-repeat;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    border: 0 none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.ribbon em {
    font-size: 19px;
    font-style: inherit;
    display: block;
}

.ribbon:hover {
    color: #a8e6f5 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------------------------------------
    CONTENT
-----------------------------------------------------------------------------*/

.section-title {
    margin: 0 0 2.2em;
    padding: 9px 18px 8px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    float: left;
    font-weight: normal;
    font-size: 0.9em;
}

.smaller-text p {
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: justify;
}


.smaller-text ul
{
    line-height: 1.6em;
    font-size: 0.9em;
    padding-left: 1.3em;
    list-style-type: circle;
}

.smaller-text ul span {
    color: silver;
}


.reference {
    font-size: 0.75em;
}

.reference a {
    font-size: 1.2em;
    color: inherit;
}

.column h3,
.skills-with-ratings h3,
.skills-group-other h3 {
    font-size: 1.3em;
    font-weight: normal;
    color: #222;
    margin: 0;
}

.column h4,
.skills-with-ratings h4 {
    margin: 0;
}

.column h3,
.skills-with-ratings h3,
.subtitle {
    display: inline-block;
}

.column .subtitle {
    font-size: 0.75em;
    color: #666;
    margin: 0;
}

.column .subtitle a {
    color: #666;
}

.column a.logo {
    text-decoration: none;
    float: right;
    padding-top: 0.3em;
}

/* style basic html elements */

.markup blockquote {
    margin: 1em 0;
    padding: 0.75em 45px;
    font-style: italic;
}

.markup blockquote footer {
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.8;
    margin: 3px 0 0 0;
    color: #777;
    font-style: normal;
}

.markup blockquote:before {
    content:'“';
    font: bold 30pt/100% georgia;
    color: #dcdcdc;
    margin-left: -0.6em;
}

.row-portfolio p,
.markup p {
    line-height: 1.7em;
}

.markup h1, .markup h2, .markup h3, .markup h4, .markup h5, .markup h6 {
    font-weight: normal;
}

.markup :last-child {
    margin-bottom: 0;
}


.profile-pic {
    width: 40%;
    float: right;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    margin: -3.1em 0 0 0;
}

.profile-pic img {
    max-width: 25em;
    height: auto;
    width: 100%;
}

.row-profile .info {
    float: left;
}

/*information table*/

.info {
    clear: left;
    overflow: auto;
}

.info th,
.info td {
    padding: 0.5em 1em;
    vertical-align: top;
}

.info th {
    font-weight: normal;
    color: #666;
    font-size: 0.9em;
    text-align: right;
}

.info td {
    font-size: 0.9em;
    text-align: left;
    color: #999;
}

.info td a {
    color: #999;
}

/* social icons */

.row-icon article {
    padding: 2em 0 0;
}

.icons {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.icons li {
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 2em;
    width: 19.5%;
    height: 48px;
}

.icons a {
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 0.75em;
    position: relative;
    padding: 17px 0 0 51px;
    border: 0 none;
}

.icons a img {
    position: absolute;
    left: 0;
    top: 0;
}

/*-----------------------------------------------------------------------------
    MISCELLANEOUS
-----------------------------------------------------------------------------*/

/* effects */

#container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}

/* ==|== non-semantic helper classes ======================================== */
.fl { float: left; }
.fr { float: right; }
.wrap-header article:before, .wrap-header article:after { content: ""; display: table; }


.skills-with-ratings {
    clear: both;
}

.skills-group h4
{
    color: #888;
    font-weight: normal;
    display: inline-block;
}

.skills-group div {
    margin-top: 1.6em;
}

.skills-group p {
    font-size: smaller;
    line-height: 1.7em;
    min-height: 5em;
    margin-top: 0;
}

.skills-group-other ul {
    list-style-type: circle;
    font-size: smaller;
    margin-top: 1.7em;
}

.skills-group p
{
    border-top: thin dotted #888;
}

.skills-group-other {
    clear: both;
}

.skills-with-ratings span {
    float: right;    
    font-size: larger;
    color: #6B4724;
}

