@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body { 
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    background: url(../img/patterns/diagonal-noise.png) repeat;
    margin: 0;
}

img { border: 0; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }

a { color: #1B66CC; }

a:hover {
    color: #177aff !important;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------
    LAYOUT
-----------------------------------------------------------------------------*/

.wrap-footer,
#container {
    width: 90%;
    max-width: 2000px;
    margin: 2em auto;
    background: #fff;
}

.row {
    border-top: 1px dashed #eaeaea;
}

.wrap-header article,
.row article {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 3.1em 0;
}


.wrap-footer {
    font-size: smaller;
    margin-top: 1em;
    background: none;
    overflow: hidden;
    color: #999;
}

.wrap-footer .fl {
    margin-left: 2px;
}

.wrap-footer .fr {
    text-align: right;
    margin-right: 2px;
}

.wrap-header article p,
.row p {
    clear: both;
}

.skills-group,
.column {
    margin: 0 3% 0 0;
    float: left;
}

.skills-group,
.column-logo {
    padding-left: 0;
    width: 47%;
    margin-right: 6%;
}

div.column-logo {
    margin-top: 2em;
}


.column-row {
    clear: both;
    margin: 0;
    overflow: hidden;
}

.skills-with-ratings .skills-group:nth-child(2n),
.column-row .column:last-child,
.column-row div.column:nth-child(2n)
{
    margin-right: 0;
}

/*-----------------------------------------------------------------------------
    HEADER
-----------------------------------------------------------------------------*/

.wrap-header h1 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -0.04em;
    color: #333840
}

.wrap-header h1 span {
    font-size: 1.6em;
    padding-right: 0.3em;
}

.wrap-header p {
    margin: 0;
    font-size: 13pt;
    font-weight: 400;
    color: #aaa;
}

.wrap-title {
    float: left;
}

/* sharing tools & ribbons */

.wrap-ribbons {
    float: right;
    margin: -3.1em 0 0 0;
}

.wrap-ribbons a {
    margin-top: -3px;
}

/* ribbon styles */

.ribbon {
    display: block;
    width: 79px;
    height: 75px;
    padding: 17px 0 0 0;
    background: url(../img/ribbon.png) no-repeat;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    border: 0 none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.ribbon em {
    font-weight: 700;
    font-size: 19px;
    font-style: inherit;
    display: block;
}

.ribbon:hover {
    color: #a8e6f5 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------------------------------------
    CONTENT
-----------------------------------------------------------------------------*/

.section-title {
    margin: 0 0 2.2em;
    padding: 0.5em 1em;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    float: left;
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}

.section-title,
.row-inversed {
    background: #F9D423;  /* Primary Color */
    color: #111
}


.row-inversed .section-title {
    background: #fff;
}

.row-inversed .info td a,
.row-inversed .info td {
    color: #333 !important;
}

.row-icon a:hover,
.row-inversed .info td a:hover {
    color: #111 !important;
}

.smaller-text p {
    line-height: 1.6em;
    font-size: 0.9em;
    text-align: justify;
}


.smaller-text ul
{
    line-height: 1.6em;
    font-size: 0.9em;
    padding-left: 1.3em;
    list-style-type: circle;
}

.smaller-text ul span {
    color: silver;
}


.tools {
    font-size: 0.75em;
}

.tools a {
    font-size: 1.2em;
    color: inherit;
}

.column h3,
.skills-with-ratings h3
{
    font-size: 1.3em;
    font-weight: normal;
    color: #222;
    margin: 0;
}

.column h4,
.skills-with-ratings h4 {
    margin: 0;
}

.column h3,
.skills-with-ratings h3,
.subtitle {
    display: inline-block;
}

.column .subtitle {
    font-size: 0.75em;
    color: #666;
    margin: 0;
}

.column .subtitle a {
    color: #666;
}

.column a.logo {
    text-decoration: none;
    float: right;
    padding-top: 0.3em;
}

/* Images size */

img[alt='mawell'] {
    height: 1.5em;
}

img[alt='objektfabriken'],
img[alt='softronic']
{
    height: 1.9em;
}

img[alt='fimare']
{
    height: 2em;
}

img[alt='wordpress'],
img[alt='ziff']
{
    height: 3.5em;
}

img[alt='su']
{
    height: 5em;
}

img[alt='mdh']
{
    height: 4.5em;
}

img[alt='biolit']
{
    width: 8em;
}


/* style basic html elements */

.markup blockquote {
    margin: 1em 0;
    padding: 0.75em 45px;
    font-style: italic;
}

.markup blockquote footer {
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.8;
    margin-top: 0.3em;
    color: #777;
    font-style: normal;
}

.markup blockquote:before {
    content:'“';
    font: bold 30pt/100% georgia;
    color: #dcdcdc;
    margin-left: -0.6em;
}

.row-portfolio p,
.markup p {
    line-height: 1.7em;
}

.markup h1, .markup h2, .markup h3, .markup h4, .markup h5, .markup h6 {
    font-weight: normal;
}

.markup :last-child {
    margin-bottom: 0;
}

.profile-pic {
    float: right;
    padding: 1em;
}

.profile-pic img {
    max-width: 22em;
    height: auto;
    width: 100%;
}

.row-profile .info {
    float: left;
}

.row-profile {
    border-top: 0 none;
}

.row-inversed .profile-pic {
    border: thin dashed rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.4);
}

/*information table*/

.info {
    clear: left;
    overflow: auto;
    margin-bottom: 1em;
}

.info th,
.info td {
    padding: 0.5em 1em;
    vertical-align: top;
}

.info th {
    font-weight: normal;
    color: #666;
    font-size: 0.9em;
    text-align: right;
}

.info td {
    font-size: 0.9em;
    text-align: left;
    color: #999;
}

.info td a {
    color: #999;
}

/* social icons */

.row-icon {
    color: #666;
    border-top: 1px dashed #fff;
    background: rgb(250,220,77);
}

.row-icon article {
    padding: 2em 0;
}

.icons {
    padding: 0;
    margin: 0;
}

.icons li {
    list-style-type: none;
    float: left;
    text-align: center;
    width: 25%;
}

.icons a {
    text-decoration: none;
    color: #666;
    font-size: smaller;
}

.icons a img {
    width: 4em;
    padding-right: 0.5em;
}


/* chart */

#experience .chart
{
    float: left;
    width: 33%;
}

#experience div.chart:first-of-type {
    clear: left;
}

#chart_education {
    float: right;
}

/* timeline */

.timeline
{
    font-size: smaller;
    color: #AAA;
    clear: both;
    overflow: auto;
}

.timeline table {
    width: 100%;
    text-align: center;
}

.timeline td {
    border-right: thin solid #DDD;
}

.timeline td:last-child {
    border: none;
}

.timeline td.req {
    border-bottom: thick solid orange;
}

.timeline td.dev {
    border-bottom: thick solid #F9D423;
}

.timeline td.test {
    border-bottom: thick solid #619EC2;
}

.timeline td.before,
.timeline td.inhouse,
.timeline td.offduty
{
    border-bottom: thick solid transparent;
}

.timeline td.experience:hover,
.timeline td.inhouse:hover
{
    background-color: #FCEC9C;
    color: black;
}

.timeline td.offduty:hover {
    color: black;
}

.timeline td.before {
    opacity: 0.5;
}

.timeline a {
    color: inherit;
}


/*-----------------------------------------------------------------------------
    MISCELLANEOUS
-----------------------------------------------------------------------------*/

/* effects */

#container {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}

/* ==|== non-semantic helper classes ======================================== */
.fl { float: left; }
.fr { float: right; }
.wrap-header article:before, .wrap-header article:after { content: ""; display: table; }


.skills-with-ratings {
    clear: both;
}

.skills-group h4
{
    color: #888;
    font-weight: normal;
    display: inline-block;
}

.skills-group div {
    margin-top: 1.6em;
}

.skills-group p {
    font-size: smaller;
    line-height: 1.7em;
    min-height: 5em;
    margin-top: 0;
}

.skills-group-other ul {
    list-style-type: circle;
    font-size: smaller;
    margin-top: 1.7em;
}

.skills-group p
{
    border-top: thin dotted #888;
}

.skills-group-other {
    clear: both;
}

.skills-with-ratings span {
    float: right;    
    font-size: larger;
    color: #6B4724;
}

