@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:600);

body {
    background: url(../img/patterns/diagonal-noise.png) repeat;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 85%;
    line-height: 1.6em;
    margin: 0;
}

img { border: 0; }

table { border-collapse: collapse; border-spacing: 0; }

h4 { margin: 0; }

a { color: #1B66CC; }

a:hover {
    color: #177aff;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------
    LAYOUT
-----------------------------------------------------------------------------*/

#container {
    width: 90%;
    margin: 2em auto;
    background: #fff;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 0 3em rgba(0, 0, 0, 0.08) inset;
}

#container + footer {
    width: 90%;
    margin: 0 auto 1em auto;
    padding-bottom: 1em;
    font-size: smaller;
    background: none;
    color: #999;
}

article {
    margin: 0 5%;
    overflow: hidden;
    padding: 3em 0;
}

.row {
    border-top: thin dashed #EAE;
}

.column-row {
    clear: both;
}

.column {
    width: 48%;
    float: left;
    margin-top: 2em;
}

.column:nth-child(odd) {
    margin-right: 2%;
    clear: left;
}

.column:nth-child(even) {
    margin-left: 2%;
}

/*-----------------------------------------------------------------------------
    HEADER
-----------------------------------------------------------------------------*/

header h1 {
    font-size: 120%;
    margin: 0;
    font-family: 'Expletus Sans', cursive;
    text-transform: uppercase;
    color: #333840;
}

header h1 span {
    font-size: x-large;
    padding-right: 0.3em;
}

header p {
    margin: 0;
    color: #aaa;
}

header div {
    float: left;
}

header a {
    font-family: 'Expletus Sans', cursive;
    display: block;
    float: right;
    width: 7em;
    height: 9em;
    margin-top: -4em;
    padding-top: 2em;
    background: url(../img/ribbon.png) no-repeat;
    background-size: 7em 9em;
    color: #fff;
    font-size: small;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

header a:hover {
    color: #a8e6f5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

header b {
    display: block;
    font-size: large;
}

/*-----------------------------------------------------------------------------
    CONTENT
-----------------------------------------------------------------------------*/

.section-title {
    margin: 0 0 2em;
    padding: 0.5em 1em;
    font-family: 'Expletus Sans', cursive;
    text-transform: uppercase;
    float: left;
    font-size: inherit;
    letter-spacing: 0.1em;
}

.section-title,
.row-inversed {
    background: #F9D423;  /* Primary Color */
    color: #111;
}

.section-title + * {
    clear: both;
}

.row-inversed .section-title {
    background: #fff;
}

.row-inversed .info td a,
.row-inversed .info td {
    color: #333;
}

.row-icon a:hover,
.row-inversed .info td a:hover {
    color: #111;
}

.description ul
{
    padding-left: 2em;
    list-style-type: circle;
}

.description ul span {
    color: silver;
}

.tools {
    font-size: smaller;
    line-height: 1.4em;
}

.column h3
{
    font-size: 1.3em;
    font-weight: normal;
    color: black;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.column h3,
.subtitle {
    display: inline-block;
}

.column .subtitle {
    font-size: smaller;
    color: #666;
    margin: 0;
}

.column .subtitle a {
    color: #666;
}

.column .logo {
    text-decoration: none;
    float: right;
}

/* Skills */

.skills-group h4
{
    color: #888;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 0.5em;
}

.skills-group div {
    margin-top: 1.6em;
}

.skills-group div:first-of-type {
    margin-top: 1em;
}

.skills-group p {
    min-height: 5em;
    margin-top: 0;
    border-top: thin dotted #888;
}

.skills-group-other ul {
    list-style-type: circle;
    padding-left: 2em;
}

.skills-with-ratings span {
    float: right;
    font-size: larger;
    color: #666;
}

/* Images size */

img[alt='mawell'] {
    height: 1.5em;
}

img[alt='objektfabriken'],
img[alt='softronic'],
img[alt='fimare']
{
    height: 1.8em;
}

img[alt='wordpress'],
img[alt='ziff']
{
    height: 3.5em;
}

img[alt='su']
{
    height: 5em;
}

img[alt='mdh']
{
    height: 4.5em;
}

img[alt='biolit']
{
    width: 8em;
}


/* style basic html elements */

.markup blockquote {
    margin: 1em 0;
    padding: 0.75em 2em;
    font-style: italic;
}

.markup blockquote footer {
    margin-top: 0.3em;
    color: #777;
    font-style: normal;
}

.markup blockquote:before {
    content:'“';
    font: bold xx-large georgia;
    color: #dcdcdc;
    margin-left: -0.6em;
}

.profile-pic {
    float: right;
    padding: 1em;
    border: thin dashed rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.4);

}

.profile-pic img {
    max-width: 22em;
    height: auto;
    width: 100%;
}

.row-profile .info {
    float: left;
}


/*information table*/

.info {
    clear: left;
    overflow: auto;
    margin-bottom: 1em;
}

.info th,
.info td {
    padding: 0.5em 1em;
    vertical-align: top;
}

.info th {
    font-weight: normal;
    color: #666;
    text-align: right;
}

.info td {
    text-align: left;
    color: #999;
}

.info td a {
    color: #999;
}

/* social icons */

.row-icon {
    color: #666;
    border-top: thin dashed #fff;
    background: rgb(250,220,77);
}

.row-icon ul {
    margin: 0 5%;
    overflow: hidden;
    padding: 2em 0;
}

.icons {
    padding: 0;
    margin: 0;
}

.icons li {
    list-style-type: none;
    float: left;
    text-align: center;
    width: 25%;
}

.icons a {
    text-decoration: none;
    color: #666;
}

.icons a img {
    width: 4em;
    padding-right: 0.5em;
    vertical-align: middle;
}


/* chart */

#experience .chart
{
    float: left;
    width: 33%;
}

#experience div.chart:first-of-type {
    clear: left;
}

#chart_education {
    float: right;
}

/* timeline */

.timeline
{
    font-size: smaller;
    color: #AAA;
    clear: both;
    overflow: auto;
}

.timeline table {
    width: 100%;
    text-align: center;
}

.timeline td {
    border-right: thin solid #DDD;
}

.timeline td:last-child {
    border: none;
}

.timeline td.req {
    border-bottom: thick solid orange;
}

.timeline td.dev {
    border-bottom: thick solid #F9D423;
}

.timeline td.test {
    border-bottom: thick solid #619EC2;
}

.timeline td.before,
.timeline td.inhouse,
.timeline td.offduty
{
    border-bottom: thick solid transparent;
}

.timeline td.experience:hover,
.timeline td.inhouse:hover
{
    background-color: #FCEC9C;
    color: black;
}

.timeline td.offduty:hover {
    color: black;
}

.timeline td.before {
    opacity: 0.5;
}

.timeline a {
    color: inherit;
}
