a.logofloat {
    text-decoration: none;
    float: right;
    padding-top: 0.3em;
}

.column h4,
.skills-with-ratings h4 {
    margin: 0;
}

.column h3,
.skills-with-ratings h3 {
    display: inline;
}

.column-row {
    margin: 0;
}

div.column-no-logo {
    margin-top: 2em;
}

.column-row div.column:nth-child(2n) {
    margin-right: 0;
}

.smaller-text p {
    text-align: justify;
}

.smaller-text ul {
    line-height: 1.642857143em;
    font-size: 0.875em;
    padding-left: 1.3em;
    list-style-type: circle;
}

.smaller-text ul span {
    color: silver;
}

#chart_branch {
    float: left;
    width: auto;
}



/*
  Timeline
*/
table.timeline {
    font-size: smaller;
    color: #AAA;
    text-align: center;
    clear: left;
    overflow-x: auto;
    display: block;
}

table.timeline td {
    border-right: thin solid #DDD;
}

table.timeline td:last-child {
    border: none;
}

table.timeline .noborder {
    border-right: none;
}

table.timeline td.req {
    border-bottom: thick solid firebrick;
}

table.timeline td.dev {
    border-bottom: thick solid orange;
}

table.timeline td.test {
    border-bottom: thick solid #619EC2;
}

table.timeline td.before,
table.timeline td.inhouse,
table.timeline td.offduty
{
    border-bottom: thick solid transparent;
}

table.timeline td.experience:hover {
    background-color: #F9D423;
    color: black;
}

table.timeline td.inhouse:hover {
    background-color: #ff9;
    color: black;
}

table.timeline td.offduty:hover {
    color: black;
}

table.timeline td.before {
    opacity: 0.5;
}

table.timeline a {
    color: inherit;
}
